<template>
  <div>
    <div class="form-group">
      <BaseInput
        v-model="userData.username"
        label="Имя"
        name="name"
        type="text"
        placeholder="Жасулан"
      ></BaseInput>
    </div>
    <div class="form-group">
      <BaseInput
        label="Номер телефона"
        name="phone"
        type="tel"
        placeholder="+7 ("
        v-mask="'+7 (###) ### ####'"
        v-model="userData.phone"
      ></BaseInput>
    </div>
    <div class="form-group">
      <BaseInput
        label="E-mail"
        name="email"
        type="email"
        placeholder="info@mail.com"
        v-model="userData.email"
      ></BaseInput>
    </div>
    <div class="form-group">
      <div id="delivery-address"></div>
    </div>
    <div class="form-group">
      <BaseInput label="Адрес" name="address" type="text" v-model="userData.address"></BaseInput>
    </div>
    <div class="form-group d-flex flex-wrap justify-content-between">
      <BaseInput label="Квартира" name="apartment" type="number" v-model="userData.apartment"></BaseInput>
      <BaseInput label="Этаж" name="floor" type="number" v-model="userData.storey"></BaseInput>
    </div>
    <div class="form-group d-flex flex-wrap justify-content-between">
      <BaseInput label="Подъезд" name="porch" type="number" v-model="userData.porch"></BaseInput>
      <BaseInput label="Домофон" name="intercom" type="number" v-model="userData.intercom"></BaseInput>
    </div>
  </div>
</template>

<script>
import { mapState } from "vuex";
export default {
  data() {
    return {};
  },
  computed: {
    ...mapState({
      userData: "userData"
    })
  },
  methods: {
    createPlacemark(coords) {
      return new ymaps.Placemark(
        coords,
        {
          iconCaption: "поиск..."
        },
        {
          iconLayout: "default#image",
          iconImageHref: "/images/placeholder.png",
          iconImageSize: [40, 40],
          iconImageOffset: [-20, -40],
          preset: "islands#icon",
          iconColor: "#DE293A"
        }
      );
    },
    getAddress(coords, input, myPlacemark) {
      myPlacemark.properties.set("iconCaption", "поиск...");
      ymaps.geocode(coords).then(res => {
        var firstGeoObject = res.geoObjects.get(0);

        myPlacemark.properties.set({
          // Формируем строку с данными об объекте.
          iconCaption: [
            // Название населенного пункта или вышестоящее административно-территориальное образование.
            firstGeoObject.getLocalities().length
              ? firstGeoObject.getLocalities()
              : firstGeoObject.getAdministrativeAreas(),
            // Получаем путь до топонима, если метод вернул null, запрашиваем наименование здания.
            firstGeoObject.getThoroughfare() || firstGeoObject.getPremise()
          ]
            .filter(Boolean)
            .join(", "),
          // В качестве контента балуна задаем строку с адресом объекта.
          balloonContent: firstGeoObject.getAddressLine()
        });
        input.value = firstGeoObject.getAddressLine();
        this.userData.address = firstGeoObject.getAddressLine();
        // this.$set(this, "address", firstGeoObject.getAddressLine());
        // var inputs = $('.ymaps-2-1-76-searchbox-input__input').value
      });
    },
    init() {
      let myPlacemark,
        map = new ymaps.Map(
          "delivery-address",
          {
            center: [43.25622887, 76.92696959],
            zoom: 13
          },
          {
            searchControlProvider: "yandex#search"
          }
        );
      var input = document.querySelector("input[name=address]");
      map.events.add("click", e => {
        var coords = e.get("coords");
        if (myPlacemark) {
          myPlacemark.geometry.setCoordinates(coords);
        } else {
          myPlacemark = this.createPlacemark(coords, input);
          map.geoObjects.add(myPlacemark);
          myPlacemark.events.add("dragend", function() {
            this.getAddress(myPlacemark.geometry.getCoordinates(), myPlacemark);
          });
        }
        this.getAddress(coords, input, myPlacemark);
      });

      // Определяем адрес по координатам (обратное геокодирование).
    }
  },
  created() {
    ymaps.ready(this.init);
  }
};
</script>

<style lang="scss" scoped>
.form-group {
  margin-bottom: 1.5rem;
}
.form-group.d-flex {
  label {
    max-width: 210px;
  }
}
a {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  color: #de293a;
  text-decoration: none;
}
#delivery-address {
  height: 226px;
}
@media (max-width: 576px) {
  .form-group.d-flex label {
    max-width: 150px;
  }
}
</style>
