<template>
  <div class="payment py-5">
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <h1>Оформление заказа</h1>
        </div>
      </div>
      <div class="row mt-5">
        <div class="col-lg-5 col-md-8">
          <div class="d-flex mb-5">
            <BaseButton
              v-for="(tab, index) in tabs"
              :key="index"
              :class="['tab-button', { active: currentTab === tab.tab }]"
              :value="tab.value"
              :tab="tab.tab"
              @click="setTypePay($event)"
              >{{ tab.name }}</BaseButton
            >
          </div>
          <keep-alive>
            <component v-bind:is="currentTabComponent"></component>
          </keep-alive>
          <div class="form-group">
            <label>
              Комментарий
              <textarea name="message" v-model="userData.message"></textarea>
            </label>
          </div>
          <div class="form-group">
            <h2 class="total-price">
              Сумма заказа: {{ totalPrice.toLocaleString() }} ₸
            </h2>
          </div>
          <div class="form-group">
            <BaseButton @click="checkout" class="checkout-btn" type="button"
              >Подтвердить заказ</BaseButton
            >
          </div>
        </div>
        <div class="offset-lg-7"></div>
      </div>
    </div>
  </div>
</template>

<script>
import CardPaymentTab from "../components/tabs/payment/CardPaymentTab.vue";
import CachePaymentTab from "../components/tabs/payment/CachePaymentTab.vue";
import { mapState } from "vuex";
export default {
  components: {
    "tab-card": CardPaymentTab,
    "tab-cache": CachePaymentTab,
  },
  data() {
    return {
      currentTab: "card",
      tabs: [
        { name: "Картой", value: 4, tab: "card" },
        { name: "Наличными", value: 1, tab: "cache" },
      ],
    };
  },
  methods: {
    setTypePay(e) {
      this.currentTab = e.target.getAttribute("tab");
      this.$store.commit("SET_TYPEPAY", e.target.value);
    },
    checkout() {
      this.$store.dispatch("checkout");
    },
  },
  computed: {
    currentTabComponent: function() {
      return "tab-" + this.currentTab;
    },
    ...mapState({
      totalPrice: "totalPrice",
      userData: "userData",
    }),
  },
};
</script>

<style lang="scss" scoped>
label {
  font-family: Roboto;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  color: #08050b;
  display: block;
  text-indent: 1rem;
  margin: 0;
}
textarea {
  background: #f8f8f8;
  border-radius: 7px;
  border: none;
  width: 100%;
  height: 120px;
  padding: 1rem;
  font-family: Roboto;
  font-weight: 500;
  font-size: 18px;
  line-height: 24px;
  color: #08050b;
  resize: none;
  &::placeholder {
    color: #b7b6bb;
    opacity: 1;
  }

  &:-ms-input-placeholder {
    color: #b7b6bb;
  }

  &::-ms-input-placeholder {
    color: #b7b6bb;
  }
}
.payment {
  background-image: url("/images/profile.png");
  background-repeat: no-repeat;
  background-size: auto;
  background-position: 100% 50%;
  h1 {
    font-family: Roboto;
    font-weight: 600;
    font-size: 48px;
    line-height: 1;
    color: #08050b;
  }
  .tab-button {
    width: 100%;
    font-family: Roboto;
    font-weight: 600;
    font-size: 14px;
    line-height: 24px;
    text-transform: uppercase;
    color: #08050b;
    border: none;
    border-bottom: 1px solid #eeedf1;
    transition: all 0.2s linear;
    background: #fff;
    height: 50px;
    outline: none;
    &.active {
      border-bottom: 4px solid #fcda06;
    }
  }
  .checkout-btn {
    border: none;
    width: 100%;
    height: 60px;
    background: #de293a;
    border-radius: 7px;
    font-family: Roboto;
    font-style: normal;
    font-weight: 600;
    font-size: 12px;
    line-height: 24px;
    text-align: center;
    text-transform: uppercase;
    color: #ffffff;
    letter-spacing: 1px;
    max-width: 290px;
  }
  .total-price {
    font-family: Roboto;
    font-weight: 600;
    font-size: 24px;
    line-height: 24px;
    color: #08050b;
  }
}
@media (max-width: 992px) {
  .payment {
    background-image: none;
  }
}
</style>
