<template>
  <form @submit.prevent="register" autocomplete="off">
    <div class="form-group" :class="{ 'form-group--error': $v.username.$error }">
      <BaseInput
        label="Имя"
        name="username"
        type="text"
        placeholder="Жасулан"
        autocomplete="off"
        v-model="username"
        @input="setUserName($event)"
      ></BaseInput>
      <template v-if="$v.username.$error">
        <div class="error" v-if="!$v.username.required">Поле "Имя" обязательно</div>
      </template>
    </div>
    <div class="form-group" :class="{ 'form-group--error': $v.phone.$error }">
      <BaseInput
        label="Номер телефона"
        name="phone"
        type="tel"
        placeholder="+7 ("
        v-mask="'+7 (###) ### ####'"
        autocomplete="off"
        v-model="phone"
        @input="setPhone($event)"
      ></BaseInput>
      <template v-if="$v.phone.$error">
        <div class="error" v-if="!$v.phone.required">Поле "Телефон" обязательно</div>
      </template>
    </div>
    <div class="form-group" :class="{ 'form-group--error': $v.email.$error }">
      <BaseInput
        label="E-mail"
        name="email"
        type="email"
        placeholder="info@mail.com"
        autocomplete="off"
        v-model="email"
        @input="setEmail($event)"
      ></BaseInput>
      <template v-if="$v.email.$error">
        <div class="error" v-if="!$v.email.required">Поле "E-mail" обязательно</div>
        <div class="error" v-if="!$v.email.email">Неправильный E-mail</div>
      </template>
    </div>
    <div class="form-group" :class="{ 'form-group--error': $v.password.$error }">
      <BaseInput
        label="Пароль"
        name="password"
        type="password"
        autocomplete="new-password"
        v-model="password"
        @input="setPassword($event)"
      ></BaseInput>
      <template v-if="$v.password.$error">
        <div class="error" v-if="!$v.password.required">Поле "Пароль" обязательно</div>
        <div class="error" v-if="!$v.password.minLength">Пароль должен содержать хотя бы 8 символов</div>
      </template>
    </div>
    <div class="form-group" :class="{ 'form-group--error': $v.password_repeat.$error }">
      <BaseInput
        label="Повторите пароль"
        name="password_repeat"
        type="password"
        autocomplete="new-password"
        v-model="password_repeat"
        @input="repeatPassword($event)"
        ref="repeatedPasswordEl"
      ></BaseInput>
      <template v-if="$v.password_repeat.$error">
        <div class="error" v-if="!$v.password_repeat.required">Поле "Повторите пароль" обязательно</div>
        <div class="error" v-if="!$v.password_repeat.sameAsPassword">Пароли должны совпадать</div>
      </template>
    </div>
    <div class="form-group">
      <BaseButton :disabled="$v.$anyError" type="submit">Продолжить</BaseButton>
    </div>
    <div class="form-group d-flex justify-content-center">
      <p>
        Нажимая “Продолжить”, вы соглашаетесь с
        <a href="#">условиями обработки данных</a>
      </p>
    </div>
  </form>
</template>

<script>
import { required, minLength, email, sameAs } from "vuelidate/lib/validators";
import { AuthService } from "../services/service.js";
import Swal from "sweetalert2";
const Toast = Swal.mixin({
  toast: true,
  position: "top-end",
  showConfirmButton: false,
  timer: 3000,
  timerProgressBar: true,
  onOpen: toast => {
    toast.addEventListener("mouseenter", Swal.stopTimer);
    toast.addEventListener("mouseleave", Swal.resumeTimer);
  }
});
export default {
  data() {
    return {
      username: "",
      phone: "",
      email: "",
      password: "",
      password_repeat: ""
    };
  },
  validations: {
    username: {
      required
    },
    phone: {
      required
    },
    email: {
      required,
      email
    },
    password: {
      required,
      minLength: minLength(8)
    },
    password_repeat: {
      required,
      sameAsPassword: sameAs("password")
    }
  },
  methods: {
    setUserName(value) {
      this.username = value;
      this.$v.username.$touch();
    },
    setPhone(value) {
      this.phone = value;
      this.$v.phone.$touch();
    },
    setEmail(value) {
      this.email = value;
      this.$v.email.$touch();
    },
    setPassword(value) {
      this.password = value;
      this.$v.password.$touch();
    },
    repeatPassword(value) {
      this.password_repeat = value;
      this.$v.password_repeat.$touch();
    },
    register(e) {
      let data = new FormData(e.target);
      this.$v.$touch();
      if (!this.$v.$invalid) {
        AuthService.register(data)
          .then(response => {
            if (response.data.success) {
              localStorage.setItem("token", response.data.data.user.token);
              window.location.replace("/profile");
            }
            else {
              Toast.fire({
                icon: "error",
                title: response.data.data.message
              });
            }
          })
          .catch(error => {
            if (error.status == 403) {
              Toast.fire({
                icon: "error",
                title: error.data.data.message
              });
            }
          });
      }
    }
  }
};
</script>

<style lang="scss" scoped>
@keyframes shakeError {
  0% {
    transform: translateX(0);
  }
  15% {
    transform: translateX(0.375rem);
  }
  30% {
    transform: translateX(-0.375rem);
  }
  45% {
    transform: translateX(0.375rem);
  }
  60% {
    transform: translateX(-0.375rem);
  }
  75% {
    transform: translateX(0.375rem);
  }
  90% {
    transform: translateX(-0.375rem);
  }
  100% {
    transform: translateX(0);
  }
}
.form-group {
  margin-bottom: 1.5rem;
}
.form-group--error {
  animation-name: shakeError;
  animation-fill-mode: forwards;
  animation-duration: 0.6s;
  animation-timing-function: ease-in-out;
  position: relative;
}
button {
  border: none;
  width: 100%;
  height: 60px;
  background: #de293a;
  border-radius: 7px;
  font-family: Roboto;
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 24px;
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;
  letter-spacing: 1px;
  &:disabled {
    background-color: #f8f8f8;
    color: #08050b;
  }
}
p {
  font-family: Roboto;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  text-align: center;
  color: #b7b6bb;
  max-width: 285px;
  a {
    text-decoration: underline;
    color: inherit;
  }
}
.error {
  font-family: Roboto;
  font-weight: 400;
  font-size: 13px;
  line-height: 24px;
  color: #de293a;
  margin: 0;
  position: absolute;
  top: 100%;
}
</style>
