<template>
    <button v-on="$listeners" v-bind="$attrs">
        <slot></slot>
    </button>
</template>

<script>
export default {
    inheritAttrs: false
};
</script>

<style lang="scss" scoped></style>
